/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

  
  /* Applies to all <h1>...</h1> elements.
  h1 {
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
  }*/
  
  /* Applies to all elements with <... class="someclass"> specified.
  .someclass { color: red; }*/
  
  /* Applies to the element with <... id="someid"> specified.
  #someid { color: green; }*/

  /* Path: main.css How to create CSS Horizontal Scrolling Website*/
  .slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .one {
    background: #efdefe;
  }
  .two {
    background: #a3f3d3;
  }
  .three {
    background: #0bbaa0;
  }
  .four {
    background: #b8c88f;
  }
  .five {
    background: #b8c88f;
  }

  .outer-wrapper {
      width: 100vh;
      height: 100vw;
      transform: rotate(-90deg) translateX(-100vh);
      transform-origin: top left;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

  ::-webkit-scrollbar {
        display:none;
      }

      /* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: navajowhite;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content 
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; 
}*/

/* Style the footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#333;
  color: white;
  text-align: center;
}
/*.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: navajowhite;}*/