/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

  
  /* Applies to all <h1>...</h1> elements.
  h1 {
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
  }*/
  
  /* Applies to all elements with <... class="someclass"> specified.
  .someclass { color: red; }*/
  
  /* Applies to the element with <... id="someid"> specified.
  #someid { color: green; }*/

  /* Path: main.css How to create CSS Horizontal Scrolling Website*/
  .slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .one {
    background: #efdefe;
  }
  .two {
    background: #a3f3d3;
  }
  .three {
    background: #0bbaa0;
  }
  .four {
    background: #b8c88f;
  }

  .outer-wrapper {
      width: 100vh;
      height: 100vw;
      transform: rotate(-90deg) translateX(-100vh);
      transform-origin: top left;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      /*scrollbar-width: none;
      -ms-overflow-style: none;*/
    }

  /*::-webkit-scrollbar {
        display:none;
      }*/